

@media (prefers-color-scheme: light) {
    :root {
      --text: #06070f;
      --background: #eceefe;
      --primary: #091781;
      --secondary: #a96bf5;
      --accent: #800fd7;
    }
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --text: #f0f1f9;
      --background: #010415;
      --primary: #7c8bf6;
      --secondary: #470a94;
      --accent: #9a27f0;
    }
  }
  
*{
    font-family:Inter;
}

* {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#app {
    min-height:100vh;
    color: var(--text);
    overflow-y:hidden;
    /* background: linear-gradient(180deg, #241b2c 50%, #1a262c 100%); */
    background: var(--background);
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}


h1:focus {
    outline: none;
}

h3{
    font-family:Helvetica;
    font-weight: 700;
}

a, .btn-link {
    text-decoration:none;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

/* -------------------------------------------CSS FOR THE APP ---------------------------------------------------- */
#layout {
    display: flex;
    padding: 5px;
    height: 100vh;
    gap: 5px;

}

.content{
    display:flex;
    border-radius: 10px;
    width: 85vw;
    
}

.sidebar{
    border-radius:10px;
    width: 15vw;
}

.notebar{
    width: 20vw;
}

.notepage{
    width: 65vw;
}

.input-decor {
    color: antiquewhite;
    background-color: rgba(1,1,1,0);
    border: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 20px;
}

.input-decor:focus {
    border: none;
   }

textarea {
    color: antiquewhite;
    background-color: rgba(1,1,1,0);
    border: none;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    resize: none;
    height: 250px;
}

textarea:focus{
    border: none;
}
/* -------------------------------------------CSS FOR THE SIDEBAR ---------------------------------------------------- */
.border-style {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(64, 64, 64);
    border-right-color: rgb(64, 64, 64);
    border-bottom-color: rgb(64, 64, 64);
    border-left-color: rgb(64, 64, 64);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius:5px;
}
.sidebar-item{
    cursor:pointer;
    padding:3px 0px;
    border-radius:5px;
}

.sidebar-item:hover{
    background-color:var(--accent);
}

.sidebar-profile{
    font-size:20px;
}

.sidebar-menu{
    gap:5px;
    
}

/* -------------------------------------------CSS FOR THE MAIN BODY ---------------------------------------------------- */

